/* Style for the card container */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 22%; /* Adjusted width to fit 4 cards in a row */
  margin: 10px; /* Adjusted margin for better spacing */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 1% 5%;
}

/* Container for the song cards */
#cardHolder {
  display: flex;
  flex-wrap: wrap;
}

/* Style for the song image */
.song img {
  max-width: 100%;
}

ul {
  list-style-type: square;
}

.sign-up-form {
  width: 400px;
}

#input {
  display: flex;
  input {
    width: 2000px;
  }
}
